In [1]:
from sqlalchemy import create_engine, inspect
import pandas as pd

In [8]:
engine = create_engine( 
    "postgresql://postgres:6fg99sd6cx9m3@158.160.159.83:5432/"
)

In [9]:
inspector = inspect(engine)

In [10]:
inspector.get_schema_names()

['hak', 'information_schema', 'public']

In [11]:
inspector.get_table_names(schema='hak')

['flyway_schema_history', 'address', 'characteristic_structure', 'event']

In [6]:
pd.read_sql_query('select * from hak.characteristic_structure where unom = 49603',con=engine)

,id,unom,unad,material,assignment_structure,class_structure,building_type,floor_area,square
0,5,49603,1,деревянные,индивидуальное жилое строение,жилые,Здание,1,53.7

In [12]:
pd.read_sql_query('select * from hak.characteristic_structure', con=engine)

,id,unom,unad,material,assignment_structure,class_structure,building_type,floor_area,square
0,1,5289671,1,None,жилой дом,жилые,Здание,2.0,NaN
1,2,31662,1,кирпичные,жилое,жилые,Здание,6.0,4346.8
2,3,50099,1,деревянные,индивидуальное жилое строение,жилые,Здание,1.0,184.2
3,4,49673,1,деревянные,индивидуальное жилое строение,жилые,Здание,1.0,172.1
4,5,49603,1,деревянные,индивидуальное жилое строение,жилые,Здание,1.0,53.7
...,...,...,...,...,...,...,...,...,...
16560,16561,2502354,1,панельные,ЦТП,нежилые,Здание,1.0,268.7
16561,16562,5275826,1,None,None,нежилые,Здание,1.0,NaN
16562,16563,2502498,1,монолитные (ж-б),ЦТП,нежилые,Здание,1.0,219.3
16563,16564,2404589,1,кирпичные,ЦТП,нежилые,Здание,1.0,168.4
16564,16565,4200107,1,кирпичные,ЦТП,нежилые,Здание,1.0,238.5