In [20]:
from sqlalchemy import create_engine
from datetime import date
import pandas as pd
from collections import defaultdict
import geopy.distance
import openmeteo_requests
import requests_cache
from retry_requests import retry

In [6]:
prediction_date = str(date.today())
sql_engine = create_engine(
    f"postgresql://postgres:6fg99sd6cx9m3@158.160.170.236:5432/"
)

In [7]:
USAGE_PRIORITY_1 = {'учреждение', 'административное', 'детский сад', 'школа', 'торговое', 'магазин', 'столовая',
                    'павильон', 'лечебное', 'кафе', 'лаборатория', 'лабораторный корпус', 'поликлиника',
                    'торговый павильон', 'ясли-сад', 'административное здание', 'гостиница', 'лечебный корпус',
                    'больница', 'торговый центр', 'детское дошкольное учреждение', 'служебное', 'пожарное депо',
                    'институт', 'здание религиозных собраний', 'административный корпус', 'учебный корпус', 'клуб',
                    'выставочный павильон', 'колледж', 'спортивный комплекс', 'детская поликлиника', 'гимназия',
                    'библиотека'}

USAGE_PRIORITY_2 = {'производственное', 'мастерская', 'цех', 'производственный корпус', 'механические мастерские',
                    'лабораторно-производственный корпус', 'производственно-складское', 'столярная мастерская',
                    'производственное,учреждение', 'учреждение и производство', 'производственно-административное',
                    'ремонтный цех', 'производственное здание'}

USAGE_PRIORITY_3 = {'многоквартирный дом', 'индивидуальное жилое строение', 'жилой дом', 'общежитие', 'коттедж',
                    'интернат', 'жилое', 'жилое строение', 'блокированный жилой дом'}

bti_df = pd.read_sql_query('select * from hak."characteristic_structure"', con=sql_engine)
bti_df['usage_priority_type'] = bti_df.assignment_structure.apply(lambda x: 1 if x in USAGE_PRIORITY_1 else
                                                                            2 if x in USAGE_PRIORITY_2 else
                                                                            3 if x in USAGE_PRIORITY_3 else None)
target_unoms = set(bti_df[bti_df.usage_priority_type.notna()].unom)

In [10]:
address_df = pd.read_sql_query("""
    SELECT 
        unom,
        MIN(date_address_register) AS date_address_register,
        MIN(date_state_address_register) AS date_state_address_register,
        MIN(date_document_address_register) AS date_document_address_register,
        MIN(x) as x,
        MIN(y) as y
    FROM hak.address
    WHERE unom IN (
        SELECT
            unom
        FROM hak.characteristic_structure
    )
    GROUP BY unom
""", con=sql_engine)

unom_address_meta = defaultdict(dict)
for row in address_df.itertuples():
    def add_if_not_null(unom, value, value_name):
        if (value is not None) and (not pd.isna(value)):
            unom_address_meta[unom][value_name] = value

    unom = row.unom
    add_if_not_null(unom, row.date_address_register, 'date_address_register')
    add_if_not_null(unom, row.date_state_address_register, 'date_state_address_register')
    add_if_not_null(unom, row.date_document_address_register, 'date_document_address_register')
    if (row.x is not None) and (row.y is not None):
        unom_address_meta[unom]['coords'] = (row.y, row.x)

unom_address_meta = dict(unom_address_meta)

In [12]:
pool = pd.DataFrame([{'prediction_date': prediction_date, 'UNOM': unom} for unom in target_unoms])
pool

     prediction_date     UNOM
0         2024-06-15  5275657
1         2024-06-15  1900600
2         2024-06-15  1900601
3         2024-06-15  1900605
4         2024-06-15  1900610
...              ...      ...
8523      2024-06-15  6061736
8524      2024-06-15  6061741
8525      2024-06-15  1900238
8526      2024-06-15  1900240
8527      2024-06-15    19490

[8528 rows x 2 columns]

In [21]:
openmeteo = openmeteo_requests.Client(
    session=retry(
        requests_cache.CachedSession('.cache', expire_after = 3600),
        retries = 5, 
        backoff_factor = 0.2
    )
)

In [44]:
WEATHER_CODE_MAPPING = {
    0: 'Ясно',
    1: 'В основном ясно',
    2: 'Переменная облачность',
    3: 'Пасмурно',
    71: 'Cнегопад',
    73: 'Снегопад',
    85: 'Снегопад',
    61: 'Дождь',
    45: 'Туман',
    80: 'Ливень',
    77: 'Град'
}

In [53]:
openmeteo_params = {
    "latitude": 55.755864,
    "longitude": 37.617698,
    "start_date": f"{str((pd.to_datetime(prediction_date) - pd.Timedelta(7, unit='d')).date())}",
    "end_date": f"{prediction_date}",
    "hourly": ["temperature_2m", "weather_code"]
}
openmeteo_response = openmeteo.weather_api('https://api.open-meteo.com/v1/forecast', params=openmeteo_params)[0]

hourly = openmeteo_response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_weather_code = hourly.Variables(1).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
    start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
    end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
    freq = pd.Timedelta(seconds = hourly.Interval()),
    inclusive = "left"
)}
hourly_data["temperature_2m"] = hourly_temperature_2m
hourly_data["weather_code"] = hourly_weather_code

hourly_df = pd.DataFrame(data=hourly_data)
hourly_df.date = hourly_df.date.dt.date

openmeteo_meta = {}
date = pd.to_datetime(prediction_date).date()
temp_7_days_around = hourly_df[(hourly_df.date - date).isin(pd.timedelta_range('-7 day', periods=8))].temperature_2m
temp_3_days_around = hourly_df[(hourly_df.date - date).isin(pd.timedelta_range('-3 day', periods=4))].temperature_2m
temp_day = hourly_df[hourly_df.date == date].temperature_2m
weather_code = hourly_df[hourly_df.date == date].weather_code
max_weather_code = weather_code.apply(lambda code: code if code in WEATHER_CODE_MAPPING else -1).max()
weather = WEATHER_CODE_MAPPING[max_weather_code] if max_weather_code in WEATHER_CODE_MAPPING else WEATHER_CODE_MAPPING[0]

temp_min_7_days = temp_7_days_around.min()
temp_max_7_days = temp_7_days_around.max()
temp_var_7_days = temp_max_7_days - temp_min_7_days
temp_mean_7_days = temp_7_days_around.mean()
temp_median_7_days = temp_7_days_around.median()
temp_shift_7_days = temp_7_days_around.iloc[-1] - temp_7_days_around.iloc[0]

temp_min_3_days = temp_3_days_around.min()
temp_max_3_days = temp_3_days_around.max()
temp_var_3_days = temp_max_3_days - temp_min_3_days
temp_mean_3_days = temp_3_days_around.mean()
temp_median_3_days = temp_3_days_around.median()
temp_shift_3_days = temp_3_days_around.iloc[-1] - temp_3_days_around.iloc[0]

temp_min_day = temp_day.min()
temp_max_day = temp_day.max()
temp_var_day = temp_max_day - temp_min_day
temp_mean_day = temp_day.mean()
temp_median_day = temp_day.median()
temp_shift_day = temp_day.iloc[-1] - temp_day.iloc[0]

str_date = str(date)
openmeteo_meta['weather'] = weather
openmeteo_meta['temp_min_7_days'] = temp_min_7_days
openmeteo_meta['temp_max_7_days'] = temp_max_7_days
openmeteo_meta['temp_var_7_days'] = temp_var_7_days
openmeteo_meta['temp_mean_7_days'] = temp_mean_7_days
openmeteo_meta['temp_median_7_days'] = temp_median_7_days
openmeteo_meta['temp_shift_7_days'] = temp_shift_7_days

openmeteo_meta['temp_min_3_days'] = temp_min_3_days
openmeteo_meta['temp_max_3_days'] = temp_max_3_days
openmeteo_meta['temp_var_3_days'] = temp_var_3_days
openmeteo_meta['temp_mean_3_days'] = temp_mean_3_days
openmeteo_meta['temp_median_3_days'] = temp_median_3_days
openmeteo_meta['temp_shift_3_days'] = temp_shift_3_days

openmeteo_meta['temp_min_day'] = temp_min_day
openmeteo_meta['temp_max_day'] = temp_max_day
openmeteo_meta['temp_var_day'] = temp_var_day
openmeteo_meta['temp_mean_day'] = temp_mean_day
openmeteo_meta['temp_median_day'] = temp_median_day
openmeteo_meta['temp_shift_day'] = temp_shift_day

In [59]:
def add_openmeteo_features(pool, openmeteo_meta):
    pool['temp_min_7_days'] = openmeteo_meta['temp_min_7_days']
    pool['temp_max_7_days'] = openmeteo_meta['temp_max_7_days']
    pool['temp_var_7_days'] = openmeteo_meta['temp_var_7_days']
    pool['temp_mean_7_days'] = openmeteo_meta['temp_mean_7_days']
    pool['temp_median_7_days'] = openmeteo_meta['temp_median_7_days']
    pool['temp_shift_7_days'] = openmeteo_meta['temp_shift_7_days']
    
    pool['temp_min_3_days'] = openmeteo_meta['temp_min_3_days']
    pool['temp_max_3_days'] = openmeteo_meta['temp_max_3_days']
    pool['temp_var_3_days'] = openmeteo_meta['temp_var_3_days']
    pool['temp_mean_3_days'] = openmeteo_meta['temp_mean_3_days']
    pool['temp_median_3_days'] = openmeteo_meta['temp_median_3_days']
    pool['temp_shift_3_days'] = openmeteo_meta['temp_shift_3_days']
    
    pool['temp_min_day'] = openmeteo_meta['temp_min_day']
    pool['temp_max_day'] = openmeteo_meta['temp_max_day']
    pool['temp_var_day'] = openmeteo_meta['temp_var_day']
    pool['temp_mean_day'] = openmeteo_meta['temp_mean_day']
    pool['temp_median_day'] = openmeteo_meta['temp_median_day']
    pool['temp_shift_day'] = openmeteo_meta['temp_shift_day']
    
    pool['weather'] = openmeteo_meta['weather']
    
add_openmeteo_features(pool, openmeteo_meta)
pool

,prediction_date,UNOM,days_from_date_address_register,days_from_state_address_register,days_from_date_document_address_register,temp_min_7_days,temp_max_7_days,temp_var_7_days,temp_mean_7_days,temp_median_7_days,...,temp_mean_3_days,temp_median_3_days,temp_shift_3_days,temp_min_day,temp_max_day,temp_var_day,temp_mean_day,temp_median_day,temp_shift_day,weather
0,2024-06-15,5275657,1366.0,1284.0,1366.0,13.702,28.952,15.25,19.802521,19.477001,...,20.442625,19.952,-1.25,13.802,25.752001,11.950001,20.885332,21.552,3.400001,Пасмурно
1,2024-06-15,1900600,6829.0,4587.0,6841.0,13.702,28.952,15.25,19.802521,19.477001,...,20.442625,19.952,-1.25,13.802,25.752001,11.950001,20.885332,21.552,3.400001,Пасмурно
2,2024-06-15,1900601,6829.0,4587.0,6841.0,13.702,28.952,15.25,19.802521,19.477001,...,20.442625,19.952,-1.25,13.802,25.752001,11.950001,20.885332,21.552,3.400001,Пасмурно
3,2024-06-15,1900605,6829.0,4587.0,6841.0,13.702,28.952,15.25,19.802521,19.477001,...,20.442625,19.952,-1.25,13.802,25.752001,11.950001,20.885332,21.552,3.400001,Пасмурно
4,2024-06-15,1900610,6829.0,4587.0,6841.0,13.702,28.952,15.25,19.802521,19.477001,...,20.442625,19.952,-1.25,13.802,25.752001,11.950001,20.885332,21.552,3.400001,Пасмурно
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8523,2024-06-15,6061736,346.0,345.0,347.0,13.702,28.952,15.25,19.802521,19.477001,...,20.442625,19.952,-1.25,13.802,25.752001,11.950001,20.885332,21.552,3.400001,Пасмурно
8524,2024-06-15,6061741,346.0,345.0,347.0,13.702,28.952,15.25,19.802521,19.477001,...,20.442625,19.952,-1.25,13.802,25.752001,11.950001,20.885332,21.552,3.400001,Пасмурно
8525,2024-06-15,1900238,6836.0,4492.0,6842.0,13.702,28.952,15.25,19.802521,19.477001,...,20.442625,19.952,-1.25,13.802,25.752001,11.950001,20.885332,21.552,3.400001,Пасмурно
8526,2024-06-15,1900240,6959.0,4587.0,6969.0,13.702,28.952,15.25,19.802521,19.477001,...,20.442625,19.952,-1.25,13.802,25.752001,11.950001,20.885332,21.552,3.400001,Пасмурно
8527,2024-06-15,19490,7255.0,4492.0,7262.0,13.702,28.952,15.25,19.802521,19.477001,...,20.442625,19.952,-1.25,13.802,25.752001,11.950001,20.885332,21.552,3.400001,Пасмурно

In [65]:
unom_address_meta[3003]

{'date_address_register': Timestamp('2003-08-29 00:00:00'),
 'date_state_address_register': Timestamp('2012-02-27 00:00:00'),
 'date_document_address_register': Timestamp('2003-07-31 00:00:00'),
 'coords': (55.761689352, 37.73088895)}